html, body{
    margin= 0;
    padding= 0;
    width=100%
    font-size= 62.5%;
    box-sizing:border-box;
    background-color: #5a6d95; 
    
}

body{
    margin= 0;
    padding= 0;
    width= 100%;
    height: 100%;
    background-color: #edeeef;
    
}

/* clickable logo img header */


header{
    margin-left: 10.5rem;
    padding= 0;
    height= 24.5rem;
    width= 100%;
    background-color: #5a6d95;
    
}

hr{
    color: white;
    line-height: .09rem;
    opacity: 0.3;
}

/* top nav bar under logo */


#main_nav_under_logo{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 2rem;
    font-size: 1.4rem;
    text-align: center;
    outline-style: none;
     background-color: #5a6d95;
}

#main_nav_bar{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 2rem;
     background-color: #5a6d95;
}
li{
    margin: 0.2rem;
    padding: 0;
    text-decoration: none;
    display: inline-block;
     background-color: #5a6d95;
}

.white{
    color: #ffffff;
    
}

main{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #5a6d95;
}

#pic_with_border{
    
    margin= 0;
    padding= 0;
    width= 10rem;
    height: 28.8rem;
    text-align: center;
    background-color: #5a6d95;
}

#border_box_with_text{
    
}

article{
    margin: 0;
    padding 0;
    width: 100%;
    height: 24rem;
}

#img_left_of_aside{
    margin: 0;
    padding: 0;
    width: 24rem;
    height: 24rem;
    float: left;
}

aside{
    margin: 0;
    padding: 0;
    width: 24rem;
    height: 24rem;
    text-align: center;
    color: black;
    float: left;
}
summary{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 3rem;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    background: #edeeef;
}
footer{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 5rem;
    font-size: 1.1rem;
    text-align: center;
    background: #edeeef;
}