html, body{
    margin= 0;
    padding= 0;
    width=100%
    font-size= 62.5%;
    box-sizing:border-box;
    background-color: #edeeef;
    
}

body{
    margin= 0;
    padding= 0;
    width= 100%;
    height: 100%;
    background-color: #5a6d95;
    
}

/* clickable logo img header */

header{
    margin-left: 10.5rem;
    padding= 0;
    height= 24.5rem;
    width= 100%;
    
}

hr{
    color: white;
    line-height: .09rem;
    opacity: 0.3;
}

/* top nav bar under logo */


#main_nav_under_logo{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 2rem;
    font-size: 1.4rem;
    text-align: center;
    outline-style: none;
}

#main_nav_bar{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 2rem;
}
li{
    margin: 0.2rem;
    padding: 0;
    text-decoration: none;
    display: inline-block;
}

.white{
    color: #ffffff;
    
}

#pic_with_border{
    
    margin= 0;
    padding= 0;
    width= 80rem;
    height: 28.8rem;
    text-align: center;
    background-color: #5a6d95;
    background-size: 50%;
}

#border_box_with_text{
    
}

article{
     margin: 0;
    padding: 0;
    width: calc(100%2);
    
}

#img_left_of_aside{
    margin: 0;
    padding: 0;
    width: 24rem;
    height: 20rem;
    
}

aside{
    margin: 0;
    padding: 0;
    width: 24rem;
    height: 20rem;
}